html,
body {
	background-color: #2B2D31;
	font-family: sans-serif;
	color: #FFF;

	margin: 0;
	padding: 0;
}

a {
	color: #FFF;
}

.thumbDiv {
	display: inline-block;
	background-color: #0F1011;
	color: #FFF;
	cursor: pointer;
	margin: 2px;
	position: relative;
	border-radius: 16px;
	border: 5px solid #1E1E1E;
	height: 136px;
	width: 220px;
	padding: 1px;
}

.thumbDiv:hover {
	border: 5px solid #004A7F;
}

.onlineDisplay {
	position: absolute;
	top: 5px;
	left: 5px;
	background-color: #365F1C;
	width: 90px;
	padding: 4px 0;
	border-radius: 10px;
	font-size: 14px;
}

.thumbDiv:hover .onlineDisplay {
	background-color: #74C639;
}

.ratingDisplay {
	position: absolute;
	bottom: 5px;
	right: 5px;
	background-color: #1E1E1E;
	width: 40px;
	padding: 4px 0;
	border-radius: 10px;
	font-size: 14px;
}

.thumbDiv:hover .ratingDisplay {
	background-color: #004A7F;
}

.thumbDiv-moreInfo {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #CECECE;
	width: 40px;
	border-radius: 10px;
	font-size: 14px;
	color: #000;
	padding: 2px;
	height: 22px;
	width: 26px;
	cursor: pointer;
}

.thumbDiv:hover .thumbDiv-moreInfo {
	background-color: #57A3CC;
	color: #FFF;
}

.thumbDiv-name {
	position: absolute;
	bottom: 5px;
	left: 5px;
	background-color: #1E1E1E;
	padding: 4px 12px;
	border-radius: 10px;
	font-size: 14px;
}

.thumbDiv:hover .thumbDiv-name {
	background-color: #004A7F;
}

.descriptionBubble {
	background-color: #141516;
	width: 80%;
	padding: 12px 36px 36px 36px;
	margin: 10px;
	text-align: left;
	border-radius: 24px;
}

.descriptionBubble-playButton {
	padding: 0 20px;
	height: 36px;
	background: #004A7F;
	border-radius: 12px;
	margin: 12px 30px;
	line-height: 36px;
	text-align: center;
	cursor: pointer;
}

.descriptionBubble-playButton:hover {
	background: #0074C6;
}

.descriptionBubble-gameTag {
	display: inline-block;
	background: #444;
	padding: 6px 12px;
	border-radius: 8px;
	margin: 4px 0;
}

.descriptionBubble-gameTag:hover {
	background: #6D6D6D;
}

h2 {
	text-align: left;
}

.searchResultDiv {
	height: 34px;
	cursor: pointer;
	padding: 0 12px;
	overflow: hidden;
}

.searchResultDiv:hover {
	background-color: #616770;
}